body{
    background-image: url('background.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    #price{
        color: #de7866; 
    }
    #time{
        color:rgb(11, 112, 79);
    }
}
